<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href={{ "/" | relURL }}><i class="fas fa-globe"></i> My website</a> <!-- add an icon (better your personal logo) to your brandname -->
    <!-- defines behavior of the navigation bar on small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- lists items and  links of the navigation bar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {{ range .Site.Menus.main.ByWeight }} <!-- list all menu items sorted by weight -->
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL }}"> <!-- url from config.toml -->
              {{ .Pre }} <!-- prefix = icon -->
              {{ .Name }} <!-- display name -->
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
