//Override:
$body-bg: #f1f1fc; // lavender

//Import bootstrap:
@import "../bootstrap/scss/bootstrap";

//CSS-like SCSS:
h1 {
  color: #fbddce; // HEX color
  background-color: $gray-700; // theme color from Bootstrap
  text-align: center;
}
