{{ define "main" }}
<div class="container"> <!-- container from Bootstrap -->
  {{.Content}} <!-- markdown content from content/posts/_index.md -->
  <div>
    <ul>
    <!-- lists all posts in content/posts/*.md ordered by date -->
    {{ range .Pages.ByDate }}
        <li>
            <span>{{ .Date.Format "2 January 2006" }}:</span> <!-- date of post -->
            <a href="{{ .RelPermalink }}">{{ .Title }}</a> <!-- post's title -->
        </li>
    {{ end }}
    </ul>
  </div>
</div>
{{ end }}
